/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    background-color: #f6f8f9;
}

.container {
    width: 95%;
    margin: auto;
    background-color: white;
}

/* .grey-container {
    color: grey;
} */

.white-container {
    background-color: white;
    width:100%;
    max-width: 1000px;
    height: 100px;
    margin: auto;
    border-radius: 5px;
    margin-top: 40px;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

/* HEADER */
/* header-top */
#header-top {
    height: 100px;
    line-height: 100px;
}

#logo{
    height: 80px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

/* header-bottom */
button {
    color: white;
    background-color: #47adf1;
    border: none;
    padding: 10px;
    border-radius: 8%;
}

 #Selection{
    background-color: white;
    color: grey;
    padding: 10px;
    border-radius: 8%;
    border: 1px grey solid;
}

.tag {
    display: inline-block;
    color: white;
    background-color: #47adf1; 
    width: 4rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10%;
    text-align: center;
}