/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

.container {
    width: 100%;
    margin: auto;
    background-color: white;
    padding: 0px 20px;
}

.white-container {
    background-color: white;
    width:70%;
    margin: 3em auto 0;
    border-radius: 5px;
    padding: 20px;
}

.white-container-2 {
    background-color: white;
    color: #444851;
    width:70%;
    margin: auto;
    border-radius: 5px;
    margin-top: 5px;
    padding: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f8f9;
}

/* HEADER */
/* header-top */
#header-top {
    height: 100px;
    line-height: 100px;
}

#logo{
    height: 80px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

/* header-bottom */
button {
    color: white;
    background-color: #47adf1;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

 #Selection{
    background-color: white;
    color: grey;
    padding: 10px;
    border-radius: 8px;
    border: 1px grey solid;
}

/* MAIN */
ul{
    list-style-type: none;
}

li{
    margin-top: 10px;
}

.circle{
    display: inline-block;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
}

#check {
    background-color: white;
    border: 1px solid green;
    color: green;
}

#ballot {
    background-color: white;
    border: 1px solid red;
    color: red;
}

.tag {
    display: inline-block;
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
}

#Editorial{
    background-color: #47adf1; 
}

#Q1-Goals{
    background-color: #9c72e4;
}

#Mobile{
    background-color: #f29e33;
}

#Recruiting{
    background-color: #64c0a9;
}

#Website{
    background-color: #d863a1;
}

#Sales{
    background-color: #b0c926;
}

#Social{
    background-color: #29b373;
}


section {
    margin-top: 20px;
}
